<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body         { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
    <h2><%= search %></h2>

		<h3>Facebook Authentication</h3>
		<h4><b>Id:</b> <%= id %></h4>
		<h4><b>Name:</b> <%= displayName %></h4>
		<h4><b>Email:</b> <%= email %></h4>

		<form action="/search" method="post">
			Longitude <input type="text" name="long" title="longitude" size="5" value="<%= longitude %>"/>
			Latitude <input type="text" name="lati" title="latitude" size="5" value="<%= latitude %>"/>
			<input type="hidden" name="displayName" title="latitude" size="5" value="<%= displayName %>"/>
			<input type="hidden" name="email" title="email" size="5" value="<%= email %>"/>
			<input type="hidden" name="id" title="id" size="5" value="<%= id %>"/>
    	<input class="btn btn-primary fa fa-facebook" type="submit" value="Search"/>
		</form>

		<h2><%= errores %></h2>

		<ul style="list-style-type: none;">
			<% for(var i=0; i<tubes.length; i++) {%>
			<li><%= tubes[i].name %> - Postcode: <%= tubes[i].postcode %> - Zone: <%= tubes[i].zone%>  - Distance: <%= tubes[i].distance%></li>
			<% } %>
		</ul>

  </div>

  <div class="text-center">
    <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
    <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
  </div>

</div>
</body>
</html>